/* Comment your stuff and finish up shadow colors*/

/* hex color variables used for ease of color scheme changes */
:root {
	--main-bg: #18121E;
	--main-body: #f0ebd8; /* light color */
	--navbar-bg: #233237
	--button-text: #eac67a;
	--button-bg2: #c09f80;
	--button-bg3: #f7e8c3;
	--tabside-bg: #76323f;
	--footer-bg: var(--navbar-bg);
};

/* laying down foundation for background colors and text */
html {
	background-color: var(--main-bg);
	font-family: sans-serif;
}

body {
	background-color: var(--main-bg);
	color: var(--main-body);
	font-family: Candara, sans-serif;
	font-weight: bold;
}

/* Styling for the container that contains the nav buttons on the top*/
.navbar {
	position: relative;
	background-color: var(--navbar-bg);
	border: none;
	border-radius: 2px; 
	overflow: hidden;
	box-shadow: 0px 3px 7px rgba(0,50,70,0.5);
	z-index: 1;
}

/* Removes link styling on "GO BACK" button */	
a:-webkit-any-link {
	color: inherit;
	text-decoration: none;
	
}

/* Styling for actual buttons on the nav bar */
.navbar button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	color: var(--button-text);
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.5);
	font-size: 17px;
	font-weight: 200;
	letter-spacing: 4px;
	transition: 0.2s;
}

/* creates a gradient background when hovering over button */
.navbar button:hover {
	background-image: linear-gradient(var(--navbar-bg), var(--button-bg2));
}

/* Changes text and background when button is active/clicked */
.navbar button.active {
	background-image: linear-gradient(var(--button-bg2), var(--button-bg3));
	color: white;
}

/* background, text styling, and formatting for container containing sidebar and map area */
.tabcontent {
	display: none;
	grid-template-columns: 65% 35%;
	grid-gap: 0px;
}

.tabcontent > div {
	font-weight: normal;
	font-size: 16px;
	box-shadow: 0px 5px 10px #724;
	z-index: 0;
}

/* Styling for area that usually contains the map */
.maparea {
	background-color: var(--main-body);
	text-align: center;
	color: #222;
	border: 3px;
	padding: 12px;
	border-radius: 2px;
}

/* Formatting for what usually contains the form on the side */
.tabside {
	background-color: var(--tabside-bg);
	color: var(--main-body);
	border-radius: 2px;
	padding: 12px 14px;
	text-align: center;
}

/*Styling for all buttons*/
input[type="button"] {
	border: 0;
	padding: 8px;
	border-radius: 3px;
	box-shadow: 0 2px 3px #404040;
	transition: 0.15s;
	cursor: pointer;
	outline: 0;
	background-color: var(--main-body);
	font-size: 14px;
	font-family: Canbara, sans-serif;
	color: var(--main-bg);
}

/* Same as button styling */
input[type="submit"] {
	border: 0;
	padding: 8px;
	border-radius: 3px;
	box-shadow: 0 2px 3px #404040;
	transition: 0.15s;
	cursor: pointer;
	outline: 0;
	background-color: var(--main-body);
	font-size: 14px;
	font-family: Canbara, sans-serif;
	color: var(--main-bg);  
}


/*This is only in effect when the cursor is hovering over a button.*/
input[type="button"]:hover, input[type="submit"]:hover {
    background-image: linear-gradient(var(--button-bg2), var(--button-bg3));
    color: var(--main-body);
}

/* Styling for text fields */
input[type="text"] {
	border: 0;
	border-radius: 3px;
	padding: 8px;
	margin-top: 3px;
	margin-bottom: 3px
	border-radius: 2px;
	font-family: Canbara, sans-serif;
	background-color: var(--main-body);
	color: var(--main-bg);
	font-size: 14px;
}

/* Footer fanciness */
footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	padding: 10px;
	font-size: 9px;

	background-color: var(--footer-bg);
	font-weight: normal;
	text-align: center;
}